/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/mysql
/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
/src/docker-compose.override.yml
/src/docker-compose.dev.yml
/src/docker-compose.prod.yml
/src/docker-compose.yml
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/.idea
/src/.vscode

